<ion-content>
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>
        Prince Cophy
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <div id="container">

<ion-button  color="dark"> Click Me 
  <ion-icon name="caret-up-circle" style="font-size: 30px;"  slot="start"></ion-icon>
</ion-button>

</div> -->

  <ion-grid>
  <ion-row>
    <ion-col style="background-color: green; color: white;" size="3">text1</ion-col>
    <ion-col style="background-color: brown; color: white;" size="3">text2</ion-col>
    <ion-col style="background-color: blue; color: white;" size="3">text3</ion-col>
    <ion-col style="background-color: chartreuse;color: white"size="3">text4</ion-col>
  </ion-row>
</ion-grid>

  <ion-card style="padding: 10px;">
    <img src="https://i.pravatar.cc/150?img=1" alt="" srcset="" expand="full" style="width: 100%;">
    <ion-card-header>
      <ion-card-subtitle>
       Privet venture Pvtldt 
      </ion-card-subtitle>
    </ion-card-header>
    <ion-input type="text" placeholder="First Name" shape="round"> </ion-input>
    <ion-input type="text" placeholder="Last Name" shape="round"> </ion-input>
    <ion-input type="number" placeholder="Contact " shape="round"> </ion-input>
    <ion-button expand="full" class="ion-margin-top" shape="round"> Button</ion-button>
  </ion-card>

</ion-content>